<a href="https://colab.research.google.com/github/andredarcie/python-in-one-page/blob/master/python_in_one_page.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸ“œ Python in one page

## What is Python?

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

To focus on the language itself this guide not includes any built-in modules like math, random, datetime, json, re, random, etc

Make a simple hello world

In [ ]:
print('Hello, World!')

Hello, World!

**Help**

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

**Comments**

In [ ]:
#This is a comment

**Variables**

In [ ]:
name = 'John'
age = 42

x, y, z = 1, 2, 3

print('Name: ' + name)

Name: John

## ðŸ”£ Data Types

Python has the following data types built-in by **default**

In [ ]:
my_number = 42
print(type(my_number))

<class 'int'>

In [ ]:
# Text
my_string = 'Hello World'

# Numeric
my_integer_number = 20
my_float_number = 20.5
my_complex_number = 1j

# Sequence
my_list = ['apple', 'banana', 'cherry']
my_tuple = ('apple', 'banana', 'cherry') # Unchangeable
my_range = range(4) # range(0, 4)

# Mapping
my_dictionary = {'name' : 'John', 'age' : 36}
my_other_dictionary = dict(name='John', age=36)

# Set - No duplicate members
my_set_value = {"apple", "banana", "cherry"}
my_frozenset_value = frozenset({"apple", "banana", "cherry"})

# Boolean
my_boolean = True # Can be True of False
bool(0) # Return a Boolean value

# Binary
my_bytes = b"Hello"
my_bytearray = bytearray(5) # bytearray(b'\x00\x00\x00\x00\x00')
my_memoryview = memoryview(bytes(5)) # <memory at 0x01368FA0>

In [ ]:
# Convert an integer number to a binary
print(bin(2))

0b10

In [ ]:
# Convert an integer number to an octal
print(oct(8))

0o10

In [ ]:
print(type(string))

<class 'str'>

In [ ]:
print(int('1'))

1

In [ ]:
# Represents a null value
x = None
print(x) # None

None

## ðŸ§µ Strings
A **string** is a sequence of Unicode **characters**

In [ ]:
hello = 'Hello, World! '
print(hello[0])

H

In [ ]:
print(hello[-2])

!

In [ ]:
print(hello[2:5])

llo

In [ ]:
print(len(hello)) # returns the size of hello

14

In [ ]:
print(hello.strip()) # removes whitespaces

Hello, World!

In [ ]:
print(hello.lower())

hello, world!

In [ ]:
print(hello.upper())

HELLO, WORLD!

In [ ]:
print(hello.replace("H", "A"))

Aello, World!

In [ ]:
print(hello.split(","))

['Hello', ' World! ']

In [ ]:
# Membership Operators
print("Hello" in hello)
print("Hello" not in hello)

True
False

In [ ]:
print('Hello, ' + 'World!')

Hello, World!

In [ ]:
print('Hello, ' 'World!')

Hello, World!

In [ ]:
print("{0}, World!".format('Hello'))

Hello, World!

In [ ]:
print('Hello, \n World!')

Hello,
 World!

In [ ]:
print(chr(97)) # Return the string representing a character

a

In [ ]:
print(ord('a')) # Return an integer representing the Unicode

97

## ðŸ§® Arithmetic
The arithmetic operators are used to perform **math operations**, such as addition, subtraction, multiplication, and division.

In [ ]:
x, y = 1, 2
print(x + y) # Addition

3

In [ ]:
print(x - y) # Subtraction

-1

In [ ]:
print(x * y) # Multiplication

2

In [ ]:
print(x / y) # Division

0.5

In [ ]:
print((50 - 5*6) / 4) # 5.0

5.0

In [ ]:
print(x % y) # Modulus

1

In [ ]:
print(x ** y) # Exponentiation

1

In [ ]:
print(x // y) # Floor division

0

In [ ]:
x += 3 # Same as x = x + 3

## ðŸŽŽ Comparison
These operators **compare** the values on either sides of them and decide the **relation** among them

In [ ]:
x, y = 1, 2
print(x == y) # Equal

False

In [ ]:
print(x != y) # Not equal

True

In [ ]:
print(x > y) # Greater than

False

In [ ]:
print(x < y) # Less than

True

In [ ]:
print(x >= y) # Greater than or equal to

False

In [ ]:
print(x <= y) # Less than or equal to

True

In [ ]:
if x > y:
  print("x is greater than y")
else:
  print("x is not greater than y")

x is not greater than y

In [ ]:
# Assert is used when debugging code
assert x == 1 # AssertionError is not raised

## ðŸ¤– Logical

In [ ]:
x = 2
print(x == 2 and x > 42)

False

In [ ]:
print(x == 2 or x > 42)

True

In [ ]:
print(not(True))

False

In [ ]:
print(not(False))

True

## ðŸ–© Math
Python has a set of built-in math functions

In [2]:
min_value = min(5, 10, 25) # lowest value
max_value = max(5, 10, 25) # highest  value

print(min_value)
print(max_value)

5
25

In [4]:
print(abs(-7.25)) # returns the absolute (positive) value
print(pow(4, 3)) # returns the '4' to the power of '3'

7.25
64

# ðŸ†” Identity

In [ ]:
x = 'Hello'
z = x
y = 'World'

print(x is z)

True

In [ ]:
print(x is y)

False

In [ ]:
print(x == y)

False

# ðŸ‘ª Lists

List is used to group together other values.

Built-in methods for lists

In [ ]:
mylist = ['hello', 'world']
print(mylist)

['hello', 'world']

In [ ]:
print(mylist[0])

hello

In [ ]:
print(mylist[-1])

world

In [ ]:
print(mylist[0:1])

['hello']

In [ ]:
print(mylist[:1])

['hello']

In [ ]:
print(mylist[0:])

['hello', 'world']

In [ ]:
mylist[1] = "!"
print(mylist)

['hello', '!']

In [ ]:
for item in mylist:
  print(item)

hello
!

In [ ]:
if "hello" in mylist:
  print("Yes, 'hello' is in the mylist")

Yes, 'hello' is in the mylist

In [ ]:
print(len(mylist))

2

In [ ]:
mylist.append("world") # Add an item to the end of the list
print(mylist)

['world', 'world']

In [ ]:
mylist.clear() # Removes all the elements
print(mylist)

[]

In [ ]:
mylist = ['hello', 'world']
my_other_list = mylist.copy() # Returns a copy of the list

In [ ]:
my_other_list.count('hello') # Return the number of times the value "hello" appears

1

In [ ]:
mylist.extend(['apple']) # Extend the list by appending all the items from the iterable
print(mylist)

['hello', 'world', 'apple', 'apple']

In [ ]:
mylist.index('world')

1

In [ ]:
mylist.insert(1, "cucumber") # Adds an element at the specified position
print(mylist)

['apple', 'cucumber', 'banana', 'cherry']

In [ ]:
mylist.pop() # Removes the last item from the list

'apple'

In [ ]:
print(mylist)
mylist.remove("cucumber") # Remove the item at the given position in the list, and return it
print(mylist)

['apple', 'cucumber', 'banana', 'cherry']
['apple', 'banana', 'cherry']

In [ ]:
my_number_list = [ 1, 2, 3]
my_number_list.reverse()
print(my_number_list)
my_number_list.sort()
print(my_number_list)

[3, 2, 1]
[1, 2, 3]

In [ ]:
del my_number_list[0]
print(my_number_list)

[2, 3]

In [ ]:
all(my_number_list) # Return True if all elements of the iterable are true

True

In [ ]:
print(any(my_number_list)) # If the iterable is empty, return False
my_number_list.clear()
print(any(my_number_list))

True
False

In [ ]:
letters = [ 'a', 'b', 'c' ]
numbers = [ 1, 2, 3 ]
print(letters + numbers)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
mylist = list(("apple", "banana", "cherry"))
print(mylist)

['apple', 'banana', 'cherry']

## ðŸ·ï¸ Sets
Unordered collections of unique elements

In [ ]:
my_set = {'python', 'is', 'awesome'}
print(my_set)

{'python', 'is', 'awesome'}

In [ ]:
len(my_set) # Return the number of elements in set

3

In [ ]:
for item in my_set:
  print(item)

python
is
awesome

In [ ]:
print('python' in my_set) # Check if 'python' is present in the set
print('python' not in my_set) # Check if 'python' is not present in the set

True
False

In [ ]:
my_set.add('ðŸ')
print(my_set)

{'python', 'ðŸ', 'is', 'awesome'}

In [ ]:
my_set.update(['and', 'very', 'nice'])
print(my_set)

{'python', 'awesome', 'ðŸ', 'nice', 'very', 'and', 'is'}

In [ ]:
my_set.remove('ðŸ')
# If the item to remove does not exists, discart will not raise an error
my_set.discard('python') 
print(my_set)

{'is', 'awesome'}

In [ ]:
my_set.pop() # Remove and return an arbitrary element from the set

'is'

In [ ]:
my_set.clear() # Remove all elements from the set

## ðŸ“™ Dictionaries
A dictionary is a collection which is unordered, changeable and indexed.

In [ ]:
my_dict = {
  'name': 'Python',
  'designed_by': 'Guido van Rossum',
  'first_released': 1991
}
print(my_dict)

{'name': 'Python', 'designed_by': 'Guido van Rossum', 'first_released': 1991}

In [ ]:
print(my_dict['name'])

Python

In [ ]:
my_dict['first_released'] = 2077
print(my_dict)

{'name': 'Python', 'designed_by': 'Guido van Rossum', 'first_released': 2077}

In [ ]:
for value in my_dict.values():
  print(value)

Python
Guido van Rossum
1991

In [ ]:
for key, value in my_dict.items():
  print(key, value)

name Python
designed_by Guido van Rossum
first_released 1991

In [ ]:
if 'name' in my_dict:
  print('The key "name" exists in my_dict')

The key "name" exists in my_dict

In [ ]:
my_dict['website'] = 'www.python.org' # Add a new item
print(my_dict)

{'name': 'Python', 'designed_by': 'Guido van Rossum', 'first_released': 1991, 'website': 'www.python.org'}

In [ ]:
my_dict.pop('website')
print(my_dict)

{'name': 'Python', 'designed_by': 'Guido van Rossum', 'first_released': 1991}

In [ ]:
my_dict.popitem()
print(my_dict)

{'name': 'Python'}

## â†ªï¸ If ... Else

In [ ]:
x, y = 1, 2
if x > y:
  print('x is greater than y')
elif x == y:
  print('x and y are equal')
else:
  print('x is greater than y')

x is greater than y

In [ ]:
# Short Hand
if x > y: print('x is greater than y')
print('x') if x > y else print('y')

y

## ðŸ” Loops
*'for' is used to iterate over the elements of a sequence (such as a string, tuple or list) or other iterable object*

In [ ]:
quote = ['Python', 'is', 'awesome']
for word in quote:
  print(word)

Python
is
awesome

In [ ]:
for number in range(4):
  print(number, end=' ')

0 1 2 3

In [ ]:
for index, value in enumerate(quote):
  print(index, value)

0 Python
1 is
2 awesome

In [ ]:
# Function continues execution immediately 
# after the last yield run
def number_generator(): 
    yield 1
    yield 2
  
for number in number_generator():  
    print(number)

1
2

*'while' is used for repeated execution as long as an expression is true*

In [ ]:
counter = 0
while counter < 4:
  print(counter, end=' ')
  counter += 1

0 1 2 3

## â˜„ï¸ Functions
A function is a block of code which only runs when it is called.

In [ ]:
def my_function():
  print("Hello, World from a function")

my_function() # Call a function

Hello, World from a function

In [ ]:
# A function to add two numbers
def sum(number):
  return number + number

print(sum(2))

4

In [ ]:
def my_function(programming_language): 
  print(programming_language + ' is awesome!')

my_function('Python') # Pass parameters

Python is awesome!

In [ ]:
def my_function(*parameters):
  print("The third parameter is: " + parameters[2])

my_function('Python', 'is', 'easy', 'to', 'learn')

The third parameter is: easy

In [ ]:
def my_function(name, surname):
  print(name, surname)

my_function(surname='van Rossum', name='Guido')

Guido van Rossum

In [ ]:
def my_function(programming_language="Python"): # Default parameter value
  print(programming_language + ' is awesome!')

my_function("Ruby")
my_function()

Ruby is awesome!
Python is awesome!

In [ ]:
# True if the object argument appears callable
callable(my_function) # True

True

## ðŸ›°ï¸ Lambda Function
Is a small anonymous function

In [ ]:
# lambda arguments : expression
my_function = lambda x : x
print(my_function(2))

2

In [ ]:
# is equivalent to
def my_function(x):
  return x

In [ ]:
sum = lambda x, y : x + y # Two parameters
print(sum(2, 2))

4

In [ ]:
def call_any_function(func):
  print(func(2, 2))

call_any_function(sum) # Pass the 'sum' lambda function as parameter

4

## ðŸ“¦ Classes and Objects
A **class** is a blueprint for an **object**, and an **object** is simply a collection of variables and functions that act on those variables.

In [ ]:
class Person:
  def __init__(self, name, age):
    # Instance attributeâ€™s
    self.name = name
    self.age = age

  def show_name(self):
    print("My name is " + self.name)

In [ ]:
king_arthur = Person('Arthur', 26)
print(king_arthur)

<__main__.Person object at 0x7fb626e010f0>

In [ ]:
# King Arthur is a Person object at the memory address 0x7fb265f652b0

In [ ]:
king_arthur.show_name()

My name is Arthur

In [ ]:
king_arthur.age = 27 # Modify object properties

In [ ]:
# Use inheritance to create child classes from a parent class
class Knight(Person):
  def speak(self):
    print('Ni!')
  
# Now the Knight class has the same properties 
# and methods as the Person class plus the 'speak()' method

In [ ]:
lancelot = Knight('Lancelot', 25)
lancelot.show_name()

My name is Lancelot

In [ ]:
lancelot.speak()

Ni!

In [ ]:
vars(lancelot)

{'age': 25, 'name': 'Lancelot'}

In [ ]:
# Return the 'identity' of an object
id(lancelot)

140420313039592

In [ ]:
# Determine which class a given object belongs to
type(lancelot)

__main__.Knight

In [ ]:
print(isinstance(lancelot, Knight))
print(isinstance(king_arthur, Knight))
print(issubclass(Knight, Person))

True
False
True

In [ ]:
class Peasant(Person):
    # Class attributes are attributes that have the 
    # same value for all class instances.
    political_position = "We're an anarcho-syndicalist commune."
    
    # Friendlier output for print()
    def __str__(self):
      return f"{self.name} is {self.age} years old"

    # You can access the parent class from 
    # inside a method of a child class by using super()
    def show_name_using_super_method(self):
      super().show_name()

    # Static method it's not bound to instance or class and you 
    # can simply call that using class name
    @staticmethod
    def talk_about_politics():
      print(Peasant.political_position)

In [ ]:
dennis = Peasant('Dennis', 37)
print(dennis)

Dennis is 37 years old

In [ ]:
dennis.show_name_using_super_method()

My name is Dennis

In [ ]:
dennis.talk_about_politics() # Static method

We're an anarcho-syndicalist commune.

# âž° Iterators
An iterator is an object that can be **iterated** upon, meaning that you can traverse through all the values.

In [ ]:
# Lists, tuples, dictionaries, and sets are all iterable objects
my_list = [ 1, 2, 3 ]

# The 'for' takes the list iterator 
# and then moves through it using 
# the built-in 'next' iterator method
for number in my_list:
  print(number)

1
2
3

In [ ]:
# Let's repeat what the 'for' does, but now manually
my_list = [ 1, 2, 3 ] # The same list
list_iterator = iter(my_list) # Returns the iterator

print(next(list_iterator)) # Returns the next value of iterator
print(next(list_iterator))
print(next(list_iterator))

1
2
3

In [ ]:
# It is possible to do the same but with a 'while' loop
my_list = [ 1, 2, 3 ]
list_iterator = iter(my_list)

while True:
  try:
    current_value = next(list_iterator) 
    print(current_value)
  # The 'next' method returns an exception when the list ends
  except StopIteration:
    break # Stops the while loop

1
2
3

In [ ]:
# It is possible to create an iterator,
# is a class that has to have two methods, the 'iter' and the 'next'
class MyNumbers:
  # Return the iterator
  def __iter__(self):
    self.end = 3
    self.value = 1 # Start value
    return self # Return himself

  # It says how to get the next value
  def __next__(self):
    if self.value > self.end:
      # Stops the execution of the 'for' loop
      raise StopIteration
    
    current = self.value
    self.value += 1
    return current

my_numbers = MyNumbers()
for number in my_numbers:
  print(number)

1
2
3

## ðŸ”— Scope
Scope refers to the coding region from which particular object is **accessible**. 

LEGB rule (Local, Enclosing, Global, and Built-in):
- Built-in Python scope (Predefined names: **open**, **range**, **len**, **etc**)
- Global or module scope (Names assigned at top-level of a module or declared **global** in function)
- Enclosing or nonlocal scope (Only exists for nested functions)
- Local or function scope (Names assigned inside a function **def**)

In [ ]:
len('len() is a built-in function') # built-in scope
number = 0 # global scope

def my_function_one():
  number = 1 # enclosed scope
  def my_function_two():
    number = 2 # local scope

In [ ]:
def my_function():
  number = 2

my_function()

# print(number) NameError: name 'number' is not defined
# The variable number cannot be accessed from outside the function

In [ ]:
def myfunction():
  global number # global variable
  number = 2

myfunction()

print(number) # can be accessed outside the function

2

In [ ]:
number = 2 # can be used inside the function

def my_function():
  print(number)

print(number)

2

In [ ]:
def my_function_one():
  name = "King Arthur"
  def my_function_two():
    nonlocal name # non local variable
    # sets the value of 'name' variable of the 'my_function_one()'
    name = "Black Knight" 
  my_function_two()
  return name

print(my_function_one())

Black Knight

## ðŸ§± Modules
Simply, a module is a file consisting of Python code. A module can define **functions**, **classes** and **variables**.

In [ ]:
# Save this code in a file named 'my_module.py'
def greeting(name):
  print('Hello, ' + name)

In [ ]:
# This code is commented out because it doesn't run on the jupyter notebook
# import my_module
# my_module.greeting('Rabbit of Caerbannog')
# output: Hello, Rabbit of Caerbannog

In [ ]:
# Create an alias for my_module called my
# import my_module as my
# my.greeting('Rabbit of Caerbannog')
# output: Hello, Rabbit of Caerbannog

## Try Except

In [6]:
try:
  raise Exception("Sorry, no numbers below zero")
except:
  print("Something went wrong")
finally:
  print("The 'try except' is finished")

Something went wrong
The 'try except' is finished

## File Handling

In [32]:
# This code is commented out because it doesn't run on the jupyter notebook
# file = open("hello.txt", "r")
# r - Read
# a - Append
# w - Write
# x - Create

# print(file.read())
# print(file.readline())
# file.close()

# Using with statement 
# with open('hello.txt', 'w') as file: 
#    file.write('hello world !')

# no need to call file.close() when using with

## Other built-in Functions

In [11]:
# Returns a readable version of any object 
# (Strings, Tuples, Lists, etc)
ascii([ 1, 2, 3 ]) #  1, 2, 3

Hello, World!
Hello, World!
(4+2j)

In [13]:
# Compile the source into a code or AST object
ast = compile('print("Hello, World!")', 
              'test', 'eval')

# Code objects can be executed by:
exec(ast) # Hello, World!
eval(ast) # Hello, World!

Hello, World!
Hello, World!

In [14]:
# Convert the number 4 and imaginary 
# number 2 into a complex number
print(complex(4, 2)) # (4+2j)

(4+2j)

In [21]:
# The 'zip()' function takes in iterables as arguments and returns an iterator. 
numbers = [1, 2, 3]
letters = ['a', 'b', 'c']
zipped = zip(numbers, letters)
print(type(zipped))
print(list(zipped))

<class 'zip'>
[(1, 'a'), (2, 'b'), (3, 'c')]

## Other things

In [28]:
# In interactive mode, the last printed expression 
# is assigned to the variable _
2 + 2
print(_)

[(1, 'a'), (2, 'b'), (3, 'c')]

## All keywords

In [31]:
import keyword
print(keyword.kwlist, sep='')

['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']